openapi: 3.0.0
info:
  title: 'Суши Фокс REST API для курьерского приложения'
  description: 'Суши Фокс REST API для курьерского приложения'
  contact:
    email: dev@sushifox.ru
  version: 0.0.2
servers:
  - url: 'http://api.sushifox.ru/courier'
    description: 'API server'
  - url: 'http://test.sushifox.ru/courier'
    description: 'TEST API server'
  - url: 'http://localhost/courier'
    description: 'local server'
  - url: 'http://sushifox.local/courier'
    description: 'local server 2'
components:
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes
security:
  - bearerAuth: [ ]

paths:
  /auth/login:
    post:
      tags:
        - 'Авторизация курьера'
      summary: 'Возвращает токен курьера'
      description: |
        ***Авторизует курьера***
        <br><br>Поля c возможным значением Null:
        <br><br> ***data.email***
      operationId: login
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              required:
                - phone
                - password
              properties:
                phone:
                  type: string
                  example: '79999999999'
                password:
                  type: string
                  example: 'courier'
                deviceInfo:
                  type: string
                  example: { "agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36","deviceId": "J600F","device": "Mobile Phone / SM J600F","os": "android version 8.0.0","pushToken": "34g$rdwer34W4ase45sa$$sdfw346-7" }
              type: object

      responses:
        200:
          description: 'Успешный вход'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/courier/login.json'
        422:
          description: 'Неавторизованный, неправильные данные'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/invalid_request.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
        403:
          description: 'Пользователь не активирован'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_client/not_active.json'

  /auth/logout:
    post:
      tags:
        - 'Авторизация курьера'
      summary: 'Возвращает статус выхода из системы'
      description: 'Выход пользователя из учётной записи'
      operationId: logout
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              properties:
                deviceInfo:
                  type: string
                  example: { "agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36","deviceId": "J600F","device": "Mobile Phone / SM J600F","os": "android version 8.0.0","pushToken": "34g$rdwer34W4ase45sa$$sdfw346-"}
              type: object
      responses:
        200:
          description: 'Выход успешен'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/logout.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
  /auth/refresh:
    post:
      tags:
        - 'Авторизация курьера'
      summary: 'Возвращает статус обновленный токен доступа'
      description: 'Обновление токена доступа'
      operationId: tokenRefresh
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              required:
                - phone
                - password
              properties:

                deviceInfo:
                  type: string
                  example: {"pushToken": "34g$rdwer34W4ase45sa$$sdfw346-7","deviceID": "34g$rdwer34W4ase45sa$$sdfw346-7" }
              type: object
      responses:
        200:
          description: 'Токен успешно обновлён'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/refresh.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'


  /profile:
    get:
      tags:
        - Информация
      summary: 'Получить информацию о профиле'
      description: |
        Возвращает информацию о курьере с элементами статистики
        <br><br>Поля c возможным значением Null:
        <br><br>***email***
      operationId: getProfile
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о профиле'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/courier/profile.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
  /timetable:
    get:
      tags:
        - Информация
      summary: 'Получить график работы курьера'
      description: 'Возвращает информацию о курьере с графиком работы, если параметры пустые - возвращается график работы за текущий месяц.'
      operationId: getTimetable
      parameters:
        - name: 'date'
          in: query
          description: 'Дата в формате unix timestamp'
          required: false
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о профиле'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/courier/timetable.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'

  /orders:
    get:
      tags:
        - Заказы
      summary: 'Получить список всех ожидающих заказов'
      description: |
        Список всех ожидающих заказов
        <br><br>Поля c возможным значением Null:
        <br><br>***items.[].clientMoney***
        <br><br>***meta***
      operationId: getOrders
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о заказах'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/items.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
  /orders/my:
    get:
      tags:
        - Заказы
      summary: 'Получить всех активных прикрепленных к курьеру заказов'
      description: |
        Список всех активных прикрепленных к курьеру заказов
        <br><br>Поля c возможным значением Null:
        <br><br>***clientMoney***
      operationId: getMyOrders
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о заказах'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/items.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
  /orders/history:
    get:
      tags:
        - Заказы
      summary: 'Получить история заказов курьера'
      description: |
        История заказов курьера
        <br><br>Поля c возможным значением Null:
        <br><br>***clientMoney***

      operationId: getOrdersHistory
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о заказах'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/order_histories.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
  /orders/{id}/start:
    post:
      tags:
        - Заказы
      summary: 'Взять заказ в работу (установить статус InDelivery)'
      description: |
        Взять заказ в работу (установить статус InDelivery), возвращает информацию о заказе
        <br><br>Поля c возможным значением Null:
        <br><br>***clientMoney***
      operationId: getOrderStart
      parameters:

        - name: 'id'
          in: path
          description: 'Внутрений индификатор заказа'
          required: true
          schema:
            type: integer
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о заказе'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/item.json'
        422:
          description: 'Ошибка старта заказа:'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/422.json'

        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
  /orders/{id}/finish:
    post:
      tags:
        - Заказы
      summary: 'Завершить заказ'
      description: |
        Завершить заказ, возвращает информацию о заказе
        <br><br>Поля c возможным значением Null:
        <br><br>***clientMoney***
      operationId: getOrderFinish
      parameters:

        - name: 'id'
          in: path
          description: 'Внутрений индификатор заказа'
          required: true
          schema:
            type: integer
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о заказе'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/item.json'
        422:
          description: 'Ошибка завершения заказа:'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/422.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'

  /orders/{id}/change_payment:
    post:
      tags:
        - Заказы
      summary: 'Изменить способ оплаты у заказа в работе'
      description: |
        Изменить способ оплаты у заказа в работе,где ***paymentType*** строка с одиним из значений:
        <br><br>-cash (наличные);
        <br>-terminal (оплата по терминаналу);
        <br>-paid (оплачено);
        <br><br><br><br>Поля c возможным значением Null:
        <br><br>***clientMoney***

      operationId: getOrderChangePayment
      parameters:
        - name: 'id'
          in: path
          description: 'Внутрений индификатор заказа'
          required: true
          schema:
            type: integer
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              properties:
                paymentType:
                  type: string
                  example: 'cash'
              type: object

      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о заказе'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/item.json'
        404:
          description: 'Запись не найдена'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/not_found.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
  /orders/confirm_cancelling:
    post:
      tags:
        - Заказы
      summary: 'Подтвердить осведомлённость об отмененных заказах'
      description: 'Подтвердить осведомлённость об отмененных заказах, возвращает информацию о заказе'
      operationId: getOrderCancel
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              properties:
                orderIds:
                  type: array
                  example: '[1,2,3]'
              type: object

      responses:
        200:
          description: 'Успешный ответ от сервера'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/cancel_confirm.json'

        422:
          description: 'Некоректные данные'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/422.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'


  /money/balance:
    get:
      tags:
        - Баланс и транзакции
      summary: 'Получить баланс курьера'
      description: |
        Текущий баланс курьера
        <br><br>Поля c возможным значением Null:
        <br><br>***transactions.price***
        <br><br>***transactions.paymentType***
      operationId: getBalans
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о балансе'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/balance.json?v=23'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'

  /money/transfer:
    get:
      tags:
        - Баланс и транзакции
      summary: 'Получить транзакции курьера'
      description: 'Текущии транзакции курьера'
      operationId: getTransactions
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о транзакциях'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/transactions.json?v=23'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
  /money/transfer/start:
    post:
      tags:
        - Баланс и транзакции
      summary: 'Начать новую операцию передачи админу'
      description: |
        Начать новую операцию,где ***type*** строка с одиним из значений:
        <br><br>-send (сдать в кассу);
        <br>-receive (принять с кассы);
      operationId: startTranc
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              properties:
                type:
                  type: string
                  example: 'send'
              type: object
      responses:
        200:
          description: 'Успешный ответ от сервера'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/transaction_start.json?v=23'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'

  /money/transfer/{id}:
    get:
      tags:
        - Баланс и транзакции
      summary: 'Получить транзакцию курьера'
      description: 'Транзакция курьера полученная по Id'
      operationId: getTransaction
      parameters:
        - name: 'id'
          in: path
          description: 'Внутрений индификатор транзакции'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о транзакции'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/transaction.json?v=23'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
        422:
          description: Транзакция не потвержденна админинстратором
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/422.json'
    put:
      tags:
        - Баланс и транзакции
      summary: 'Изменить транзакцию(временный метод)'
      description: |
        <br> Изменить транзаккцию, где принимаются следующие параметры:<br>
        <br>Поле **paymentType**:<br>
        <br>-cash (наличные)
        <br>-terminal (без наличные);<br>
        <br>Поле **operationType**:<br>
        <br>-send (отдать в кассу);
        <br>-receive (получить с кассы);
        <br>-topUpOrder (транзакция сформированная после оплаты заказа);<br>
        <br>Поле **status**:<br>
        <br>-new (начало транзакции, курьер может отменить, но не может производить измений, ожидается заполнение менеджером)
        <br>-wait (транзакция заполнена админом, ожидается потверждение от курьера)
        <br>-completed (успешно проведенная транзакция)
        <br>-cancel (отмененная транзакция);
      operationId: editTransaction
      parameters:
        - name: 'id'
          in: path
          description: 'Внутрений индификатор транзакции'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              properties:
                status:
                  type: string
                  example: 'wait'
                price:
                  type: int
                  example: 500
                paymentType:
                  type: string
                  example: 'cash'
                operationType:
                  type: string
                  example: 'send'
                quantityChecks:
                  type: int
                  example: 1
              type: object
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о транзакции'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/transaction.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
        422:
          description: Транзакция не потвержденна админинстратором
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/422.json'


  /money/transfer/{id}/confirm:
    post:
      tags:
        - Баланс и транзакции
      summary: 'Потвердить транзакцию'
      description: 'Потвердить транзакцию курьера по Id'
      operationId: confirmTransactions
      parameters:
        - name: 'id'
          in: path
          description: 'Внутрений индификатор транзакции'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о транзакции'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/transaction.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
        404:
          description: Транзакция не подходит по условиям или не найдена

  /money/transfer/{id}/cancel:
    post:
      tags:
        - Баланс и транзакции
      summary: 'Отменить трансфер'
      description: 'Отменить трансфер по Id'
      operationId: cancelTransactions
      parameters:
        - name: 'id'
          in: path
          description: 'Внутрений индификатор транзакции'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ от сервера с информацией о транзакции'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/order_courier/transaction.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
        422:
          description: Транзакция не подходит по условиям или не найдена
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/422.json'

  /saveCord:
    post:
      tags:
        - Дополнительное
      summary: 'сохранить кординаты'
      description: 'сохранить кординаты'
      operationId: savecord
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              properties:
                lat:
                  type: string
                  example: "50.40405345345"
                let:
                  type: string
                  example: "50.40405345345"
              type: object
      responses:
        200:
          description: 'Успешный ответ от сервера'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/ok.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
        422:
          description: Транзакция не потвержденна админинстратором
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/422.json'

tags:
  - name: 'Авторизация курьера'
  - name: Информация
  - name: Заказы
  - name: Баланс и транзакции

