openapi: 3.0.0
info:
  title: 'Суши Фокс REST API для CRM'
  description: ''
  contact:
    email: dev@sushifox.ru
  version: 0.0.1
servers:
  - url: 'http://api.sushifox.ru/crm'
    description: 'API sushi fox server'
  - url: 'http://localhost/crm'
    description: 'local server'
  - url: 'http://sushifox.local/crm'
    description: 'local server 2'

components:
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes
security:
  - bearerAuth: [ ]

paths:

  /auth/login:
    post:
      tags:
        - 'Авторизация пользователя'
      summary: 'Авторизовать клиента'
      description: 'Авторизовывает клиента по номеру телефона и паролю, отдаёт Brearer token'
      operationId: Userlogin
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              required:
                - phone
                - password
              properties:
                phone:
                  type: string
                  example: '79228109900'
                password:
                  type: string
                  example: 'password'
              type: object
      responses:
        200:
          description: 'Успешный вход'
          content:
            application/json:
              examples:
                - $ref: ../api-example/CRM/login.json
        422:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Пользователь не активирован'
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_client/not_active.json
  /auth/me:
    post:
      tags:
        - 'Авторизация пользователя'
      summary: 'Получить данные пользователя'
      description: 'Возвращает данные пользователе'
      operationId: UserMe
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_client/me.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
  /auth/refresh:
    post:
      tags:
        - 'Авторизация пользователя'
      summary: 'Возвращает обновленный токен доступа'
      description: 'Обновление токена доступа'
      operationId: tokenRefresh
      responses:
        200:
          description: 'Токен успешно обновлён'
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/login_success.json'
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                item:
                  $ref: '../api-example/auth_fail.json'
  /auth/logout:
    post:
      tags:
        - 'Авторизация пользователя'
      summary: 'Выйти из системы'
      description: 'Логаут для текущего юзера'
      operationId: Userlogout
      responses:
        200:
          description: 'Выход успешен'
          content:
            application/json:
              examples:
                - $ref: ../api-example/logout.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json

  /permissions:
    get:
      tags:
        - 'Права доступа'
      summary: 'Получить список прав для пользователя'
      description: 'Возвращает список прав для пользователя'
      operationId: permissionIndex
      parameters:
        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/permission/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json

  /roles:
    get:
      tags:
        - 'Роли'
      summary: 'Получить список всех ролей'
      description: 'Получить список всех ролей с параметрами пагинации'
      operationId: RolesIndex
      parameters:

        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int
      responses:
        200:
          description: 'Успешный ответ со списком ролей'
          content:
            application/json:
              examples:
                - $ref: ../api-example/roles/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Роли'
      summary: 'Создать новый роль'
      description: 'Создаёт роль и возвращает индификатор(id)'
      operationId: RoleCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Повар
                description:
                  type: string
                  example: Повар холодного цеха
                permissions:
                  type: string
                  example: [ { "permissionId": "1","type": "filials" },{ "permissionId": "2" },{ "permissionId": "3","type": null },{ "permissionId": "4","type": "schedules" },{ "permissionId": "5","type": "all" } ]
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  /roles/{id}:
    get:
      tags:
        - 'Роли'
      summary: 'Получить информацию о роли'
      description: 'Возвращает информацию о роли по индефикатору'
      operationId: RoleOne
      parameters:
        - name: id
          in: path
          description: 'Внутрений индификатор роли'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/roles/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Роли'
      summary: 'Обновить роль'
      description: 'Обновляет роль и возвращает результат'
      operationId: RoleUpdate
      parameters:
        - name: id
          in: path
          description: 'Внутрений индификатор роли'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Повар
                description:
                  type: string
                  example: Повар холодного цеха
                permissions:
                  type: string
                  example: [ { "permissionId": "1","type": "filials" },{ "permissionId": "2" },{ "permissionId": "3","type": null },{ "permissionId": "4","type": "schedules" },{ "permissionId": "5","type": "all" } ]
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true

              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/edit.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    delete:
      tags:
        - 'Роли'
      summary: 'Удалить роль'
      description: 'Удаляет роль и возвращает результат удаления'
      operationId: RoleDelete
      parameters:
        - name: id
          in: path
          description: 'Внутрений индификатор роли'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/delete.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json

  /common/checkAddressIsDeliveryByString:
    get:
      tags:
        - 'Подсказки'
      summary: 'Проверка доступности адреса для доставки'
      description: 'Передается адрес гет параметром, возврашается результаты подсказок'
      operationId: checkAddressIsDeliveryByString
      parameters:
        - name: address
          in: query
          description: 'Адрес для подсказки'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешны  результат'
          content:
            application/json:
              examples:
                - $ref: ../api-example/suggest/address.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        422:
          description: 'Невалидный файл/Не указан путь'
  /common/uploadImage:
    post:
      tags:
        - 'Загрузки'
      summary: 'Загрузить картинку на сервер'
      description: 'Загрущает картинку и возвращает массив с путём до файла и названием картинки'
      operationId: imageUpload
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              required:
                - image
              properties:
                image:
                  type: string
                path:
                  type: string
                  example: /collections/1
              type: object
      responses:
        200:
          description: 'Успешная загрузка'
          content:
            application/json:
              examples:
                - $ref: ../api-example/upload/success.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        422:
          description: 'Невалидный файл/Не указан путь'
  /common/uploadDoc:
    post:
      tags:
        - 'Загрузки'
      summary: 'Загрузить документ на сервер'
      description: 'Загрущает документ и возвращает массив с путём до файла и названием картинки'
      operationId: docUpload
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              required:
                - file
              properties:
                file:
                  type: string
                path:
                  type: string
                  example: /collections/1
              type: object
      responses:
        200:
          description: 'Успешная загрузка'
          content:
            application/json:
              examples:
                - $ref: ../api-example/upload/success.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        422:
          description: 'Невалидный файл/Не указан путь'
  /common/getSuggestName:
    get:
      tags:
        - 'Подсказки'
      summary: 'Получить подсказку по имени'
      description: 'Передается имя гет параметром, возврашается результаты подсказок'
      operationId: getSuggestName
      parameters:
        - name: name
          in: query
          description: 'Часть имени для подсказки'
          required: true
          schema:
            type: string
        - name: gender
          in: query
          description: 'Пол для подсказки, может содержать одно из значений - MALE/FEMALE'
          required: false
          schema:
            type: string
        - name: count
          in: query
          description: 'Колличество подсказок (максимально 20, по умолчанию 10)'
          required: false
          schema:
            type: int
      responses:
        200:
          description: 'Успешны  результат'
          content:
            application/json:
              examples:
                - $ref: ../api-example/suggest/name.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        422:
          description: 'Невалидный файл/Не указан путь'

  /common/getSuggestAddress:
    get:
      tags:
        - 'Подсказки'
      summary: 'Получить подсказку по адресу'
      description: 'Передается адрес гет параметром, возврашается результаты подсказок'
      operationId: getSuggestAddress
      parameters:
        - name: address
          in: query
          description: 'Часть адреса для подсказки'
          required: true
          schema:
            type: string
        - name: field
          in: query
          description: 'Поле для подсказки'
          required: false
          schema:
            type: string
      responses:
        200:
          description: 'Успешны  результат'
          content:
            application/json:
              examples:
                - $ref: ../api-example/suggest/address.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        422:
          description: 'Невалидный файл/Не указан путь'

  /common/callback:
    post:
      tags:
        - 'Телефония'
      summary: 'Запрос обратного звонка с клиентом по заказу id'
      description: 'Связь менеджера с клиентом по телефону (менеджер должен быть на смене)'
      requestBody:
        description: 'Пример запроса'
        required: true
        unique: true
        content:
          application/json:
            schema:
              required:
                - id
              unique:
                - id
              properties:
                id:
                  type: int
                  example: 79
              type: object
      operationId: callback
      responses:
        200:
          description: 'Успешный  результат'
          content:
            application/json:
              examples:
                - $ref: ../api-example/printing/succes.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        422:
          description: 'Невалидный файл/Не указан путь'


  /printing/print-check:
    post:
      tags:
        - 'Принтеры'
      summary: 'Печать чека заказа'
      description: ' Типы чеков: "main", "hot", "cold"'
      requestBody:
        description: 'Пример запроса'
        required: true
        unique: true
        content:
          application/json:
            schema:
              required:
                - type
                - orderId
              unique:
                - type
                - orderId
              properties:
                type:
                  type: string
                  example: 'main'
                orderId:
                  type: int
                  example: 48

              type: object
      operationId: printCheck
      responses:
        200:
          description: 'Успешный  результат'
          content:
            application/json:
              examples:
                - $ref: ../api-example/printing/succes.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        422:
          description: 'Ошибка валидации'

  /users:
    get:
      tags:
        - 'Пользователи'
      summary: 'Получить список пользователей'
      description: 'Возвращает список пользователей, могут приниматься параметры для пагинации'
      operationId: UsersIndex
      parameters:

        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int

      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/user/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Пользователи'
      summary: 'Создать нового пользователя'
      description: 'Создаёт пользователя и возвращает id'
      operationId: UserCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        unique: true
        content:
          application/json:
            schema:
              required:
                - phone
                - password
                - name
                - email
              unique:
                - phone
                - email
              properties:
                phone:
                  type: string
                  example: '79228109900'
                password:
                  type: string
                  example: 12356qwert
                image:
                  type: string
                  example: server/path/image.jpg
                email:
                  type: string
                  example: test@example.ru
                lastName:
                  type: string
                  example: 'Семёнов'
                firstName:
                  type: string
                  example: 'Алёксей'
                surname:
                  type: string
                  example: 'Богданович'
                status:
                  type: bool
                  example: true
                filials:
                  type: string
                  example: [ { "filialId": "1" },{ "filialId": "2" } ]
                docs:
                  type: string
                  example: [ { "name": "БИК","group": "банк.данные", "path": "/server/path/doc.doc","description": "" },{ "path": "/server/path/pasport.doc","name": "паспорт" } ]
                roleId:
                  type: int
                  example: 2

              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/users/{id}':
    get:
      tags:
        - 'Пользователи'
      summary: 'Получить данные пользователя по id'
      description: 'Вовзращает данные пользователя'
      operationId: UserOne
      parameters:
        - name: id
          in: path
          description: 'id пользователя'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/user/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Пользователи'
      summary: 'Обновить пользователя'
      description: 'Обновляет пользователя'
      operationId: UserUpdate
      parameters:
        - name: id
          in: path
          description: 'id пользователя'
          required: false
          unique: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              unique:
                -phone
                -email
              properties:
                phone:
                  type: string
                  example: '79228109900'
                password:
                  type: string
                  example: 12356qwert
                email:
                  type: string
                  example: test@example.ru
                lastName:
                  type: string
                  example: 'Семёнов'
                firstName:
                  type: string
                  example: 'Алёксей'
                surname:
                  type: string
                  example: 'Богданович'
                image:
                  type: string
                  example: server/path/image.jpg
                status:
                  type: bool
                  example: true
                roleId:
                  type: int
                  example: 2
                filials:
                  type: string
                  example: [ { "filialId": "1" },{ "filialId": "2" } ]
                docs:
                  type: string
                  example: [ { "name": "БИК","group": "банк.данные", "path": "/server/path/doc.doc","description": "" },{ "path": "/server/path/pasport.doc","name": "паспорт" } ]
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/edit.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    delete:
      tags:
        - 'Пользователи'
      summary: 'Удаляет пользователя'
      description: 'Удаляет пользователя и возвращает сообщение с результатом'
      operationId: ClientsDelete
      parameters:
        - name: id
          in: path
          description: 'id пользователя'
          required: true
          schema:
            type: string

      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/user/delete.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/users/{id}/getBalance':
    get:
      tags:
        - 'Пользователи'
      summary: 'Получить баланс пользователя по id'
      description: 'Вовзращает баланс пользователя'
      operationId: BalanceUser
      parameters:
        - name: id
          in: path
          description: 'id пользователя'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/user/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json


  /clients:
    get:
      tags:
        - 'Клиенты'
      summary: 'Получить список клиентов'
      description: 'Возвращает список клиентов, могут приниматься параметры для пагинации'
      operationId: ClientsIndex
      parameters:

        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int

        -
          name: 'search'
          in: query
          description: 'Поле для поиска'
          required: false
          schema:
            type: string
        -
          name: 'text'
          in: query
          description: 'Текст поиска'
          required: false
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/client/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Клиенты'
      summary: 'Создать нового клиента'
      description: 'Создаёт клиента и возвращает id'
      operationId: ClientsCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        unique: true
        content:
          application/json:
            schema:
              required:
                - phone
                - name
                - email
              unique:
                - phone
                - email
              properties:
                phone:
                  type: string
                  example: '79228109900'
                email:
                  type: string
                  example: test@example.ru
                name:
                  type: string
                  example: 'Алёксей Семёнов'
                status:
                  type: bool
                  example: true

              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/clients/{id}':
    get:
      tags:
        - 'Клиенты'
      summary: 'Получить данные клиента по id'
      description: 'Вовзращает данные клиента'
      operationId: ClientsOne
      parameters:
        - name: id
          in: path
          description: 'id клиента'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/client/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Клиенты'
      summary: 'Обновить клиента'
      description: 'Обновляет клиента'
      operationId: ClientsUpdate
      parameters:
        - name: id
          in: path
          description: 'id клиента'
          required: false
          unique: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              unique:
                -phone
                -email
              properties:
                phone:
                  type: string
                  example: '79228109900'
                email:
                  type: string
                  example: test@example.ru
                name:
                  type: string
                  example: 'Алёксей Семёнов'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/edit.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    delete:
      tags:
        - 'Клиенты'
      summary: 'Удаляет клиента'
      description: 'Удаляет клиента и возвращает сообщение с результатом'
      operationId: ClientsDelete
      parameters:
        - name: id
          in: path
          description: 'id клиента'
          required: true
          schema:
            type: string

      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/delete.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/clients/{id}/toBlackList':
    put:
      tags:
        - 'Клиенты'
      summary: 'Добавить клиента в чёрный список'
      description: 'Добавляет клиента в черный список'
      operationId: ClientBlock
      parameters:
        - name: id
          in: path
          description: 'id клиента'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              properties:
                reason:
                  type: string
                  example: 'Клиент применил ненормативную лексику по отношению к администратору'
                endBlocking:
                  type: string
                  example: '2020-12-01'
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/client/add_to_black_list.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/clients/{id}/removeFromBlackList':
    put:
      tags:
        - 'Клиенты'
      summary: 'Исключить клиента из черного списка'
      description: 'Отключает все баны'
      operationId: ClientRemoveBlock
      parameters:
        - name: id
          in: path
          description: 'id клиента'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/client/remove_from_black_list.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/clients/{id}/addAddress':
    put:
      tags:
        - 'Клиенты'
      summary: 'Добавить клиенту адрес доставки'
      description: 'Добавляет кклиенту адрес доставки'
      operationId: AddAddressBlock
      parameters:
        - name: id
          in: path
          description: 'id клиента'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              properties:
                city:
                  type: string
                  example: 'Санкт-петербург'
                street:
                  type: string
                  example: 'Кропоткина'
                house:
                  type: string
                  example: '10'
                entry:
                  type: string
                  example: '2'
                apartmentNumber:
                  type: string
                  example: '54'
                icoName:
                  type: string
                  example: '54'
                name:
                  type: string
                  example: 'Офис на кропоткина'
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/client/add_address_crm.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/clients/{id}/getClientCrmActiveBasket':
    get:
      tags:
        - 'Клиенты'
      summary: 'Возращает активную корзину в црм'
      description: 'Возвращает активную корзину клиента в црм'
      operationId: getClientCrmActiveBasket
      parameters:
        - name: id
          in: path
          description: 'id клиента'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/basket/basket_data.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json

  /clientAddresses:
    get:
      tags:
        - 'Адреса клиентов'
      summary: 'Получить список Адресов клиентов'
      description: 'Возвращает список Адресов клиентов с параметрами пагинациями'
      operationId: ClientAddresIndex
      parameters:

        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int
        - name: clientId
          in: query
          description: 'поиск по клиенту'
          required: false
          schema:
            type: int
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/client_address/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Адреса клиентов'
      summary: 'Создать адрес клиента'
      description: 'Создаёт адрес клиента и возвращает id'
      operationId: ClientAddresCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        unique: true
        content:
          application/json:
            schema:
              properties:
                clientId:
                  type: int
                  example: 1
                city:
                  type: string
                  example: 'Санкт-петербург'
                street:
                  type: string
                  example: 'Кропоткина'
                house:
                  type: string
                  example: '10'
                entry:
                  type: string
                  example: '2'
                floor:
                  type: string
                  example: '2'
                apartmentNumber:
                  type: string
                  example: '54'
                icoName:
                  type: string
                  example: '54'
                name:
                  type: string
                  example: 'Офис на кропоткина'
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  /clientAddresses/{id}:
    get:
      tags:
        - 'Адреса клиентов'
      summary: 'Получить адрес клиента меню по id'
      description: 'Возвращает данные категории меню'
      operationId: ClientAddresOne
      parameters:
        - name: id
          in: path
          description: 'id категории'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/client_address/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Адреса клиентов'
      summary: 'Изменить адрес клиента'
      description: 'Изменяет адрес клиента меню и возвращает ответ'
      operationId: ClientAddresUpdate
      parameters:
        - name: id
          in: path
          description: 'id категории'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: false
        unique: false
        content:
          application/json:
            schema:
              properties:
                city:
                  type: string
                  example: 'Санкт-петербург'
                street:
                  type: string
                  example: 'Кропоткина'
                house:
                  type: string
                  example: '10'

                floor:
                  type: string
                  example: '2'
                entry:
                  type: string
                  example: '2'
                apartmentNumber:
                  type: string
                  example: '54'
                icoName:
                  type: string
                  example: '54'
                name:
                  type: string
                  example: 'Офис на кропоткина'
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/edit.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    delete:
      tags:
        - 'Адреса клиентов'
      summary: 'Удалить адрес клиента меню'
      description: 'Удаляет адрес клиента меню и возвращает ответ'
      operationId: ClientAddresDelete
      parameters:
        - name: id
          in: path
          description: 'id категории'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/delete.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json

  /categories:
    get:
      tags:
        - 'Категории меню'
      summary: 'Получить список категорий'
      description: 'Возвращает список категорий с параметрами пагинациями'
      operationId: CategoriesIndex
      parameters:

        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/category/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Категории меню'
      summary: 'Создать категорию'
      description: 'Создаёт категорию и возвращает id'
      operationId: CategoryCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        unique: true
        content:
          application/json:
            schema:
              unique:
                - name
                - slug
              required:
                - name
              properties:
                name:
                  type: string
                  example: Суши
                slug:
                  type: string
                  example: susi
                ico:
                  type: string
                  example: path/to/server/image.jpg
                description:
                  type: string
                  example: 'Очень вкусные суши для вас!'
                h1:
                  type: string
                  example: 'h1'
                metaTitle:
                  type: string
                  example: 'metaTitle'
                metaDescription:
                  type: string
                  example: 'metaDescription'
                sortOrder:
                  type: int
                  example: '1'
                crnSortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/categories/{id}':
    get:
      tags:
        - 'Категории меню'
      summary: 'Получить категорию меню по id'
      description: 'Возвращает данные категории меню'
      operationId: CategoryOne
      parameters:
        - name: id
          in: path
          description: 'id категории'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/category/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Категории меню'
      summary: 'Изменить меню категории'
      description: 'Изменяет категорию меню и возвращает ответ'
      operationId: CategoryUpdate
      parameters:
        - name: id
          in: path
          description: 'id категории'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: false
        unique: false
        content:
          application/json:
            schema:
              unique:
                -name
                -slug
              properties:
                name:
                  type: string
                  example: Суши
                slug:
                  type: string
                  example: 'susi-2'
                ico:
                  type: string
                  example: path/to/server/image.jpg
                description:
                  type: string
                  example: 'Очень вкусные суши для вас!'
                h1:
                  type: string
                  example: 'h1'
                metaTitle:
                  type: string
                  example: 'metaTitle'
                metaDescription:
                  type: string
                  example: 'metaDescription'
                sortOrder:
                  type: int
                  example: '1'

                crnSortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/edit.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    delete:
      tags:
        - 'Категории меню'
      summary: 'Удалить категорию меню'
      description: 'Удаляет категорию меню и возвращает ответ'
      operationId: CategoryDelete
      parameters:
        - name: id
          in: path
          description: 'id категории'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/delete.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json

  /collections:
    get:
      tags:
        - 'Коллекции меню'
      summary: 'Получить список коллекций меню'
      description: 'Вовзращает список коллекций меню, может принимать параметры пагинации'
      operationId: CollectionsIndex
      parameters:
        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int

      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/collection/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Коллекции меню'
      summary: 'Создать коллекцию меню'
      description: 'Создаёт коллекцию меню и возвращает id'
      operationId: CollectionCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        unique: true
        content:
          application/json:
            schema:
              unique:
                - name
                - slag
              required:
                - categoryId
                - name
                - type
                - target
              properties:
                name:
                  type: string
                  example: 'Супер комбо'
                description:
                  type: string
                  example: 'Супе комбо для всей семьи!'
                subTitle:
                  type: string
                  example: 'Дополнительный заголвок'
                slug:
                  type: string
                  example: 'slug'
                types:
                  type: object
                  example: [ "desktop","mobile" ]
                target:
                  type: string
                  example: 'home'
                categoryId:
                  type: int
                  example: '5'
                ico:
                  type: string
                  example: /example/image.jpg
                menuItems:
                  type: object
                  example: [ { "id": "5" },{ "id": "2" } ]
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/collections/{id}':
    get:
      tags:
        - 'Коллекции меню'
      summary: 'Получить коллекцию меню'
      description: 'Возвращает коллекцию по id'
      operationId: CollectionOne
      parameters:
        - name: id
          in: path
          description: 'id collection'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/collection/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Коллекции меню'
      summary: 'Обновить коллекцию меню'
      description: 'Обновляет коллекцию меню и возвращает результат операции'
      operationId: CollectionUpdate
      parameters:
        - name: id
          in: path
          description: 'id коллекции'
          required: false
          unique: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              unique:
                - name
                - slag
              properties:
                name:
                  type: string
                  example: 'Супер комбо'
                description:
                  type: string
                  example: 'Супе комбо для всей семьи!'
                subTitle:
                  type: string
                  example: 'Дополнительный заголвок'
                slug:
                  type: string
                  example: 'slug'
                types:
                  type: object
                  example: [ "desktop","mobile" ]
                target:
                  type: string
                  example: 'home'
                categoryId:
                  type: int
                  example: '5'
                ico:
                  type: string
                  example: /example/image.jpg
                menuItems:
                  type: object
                  example: [ { "id": "5" },{ "id": "2" } ]
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/edit.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    delete:
      tags:
        - 'Коллекции меню'
      summary: 'Удалить коллекцию меню'
      description: 'Удаляет коллекцию меню и возвращает результат'
      operationId: CollectionDelete
      parameters:
        - name: id
          in: path
          description: 'id коллекции'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/delete.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json

  /menuItems:
    get:
      tags:
        - 'Эллементы меню'
      summary: 'Получить эллементы меню'
      description: 'Возвращает элементы меню, принимает параметры для пагинации'
      operationId: MenuItemsIndex
      parameters:

        - name: 'sortField'
          in: query
          description: 'поле для сортировки name/sort_order или любое другое из имеющихся'
          required: false
          schema:
            type: string
        - name: 'sortMethod'
          in: query
          description: 'asc\desc , по умолчанию desc'
          required: false
          schema:
            type: string

        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int

        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int

      responses:
        200:
          description: 'MenuItems list'
          content:
            application/json:
              examples:
                - $ref: ../api-example/menu_item/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Эллементы меню'
      summary: 'Создать эллемент меню'
      description: |
        Создаёт эллемент меню и и возвращает результат
        <br><br><br>Параметр *stickerType* принимает следующие значения:
        <br><br>***child***
        <br><br>***spicy***
        <br><br>***vegetarian***
        <br><br><br>Параметр *stickerMarketing* принимает следующие значения:
        <br><br>***new***
        <br><br>***hit***
        <br><br>***percent***
        <br><br>***personalDiscount***
        <br><br><br>Параметр *type* принимает следующие значения:
        <br><br>***single***
        <br><br>***bundle*** (При данном значение принимается массив bundleItems)
      operationId: CategoryCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        unique: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Суши
                slug:
                  type: string
                  example: susi
                technicalCardId:
                  type: int
                  example: 4
                categories:
                  type: string
                  example: [ { "id": "5" },{ "id": "2" } ]
                modifications:
                  type: string
                  example: [ { "modificationId": "1" },{ "modificationId": "2","priceAdd": "168","priceRate": "0.5" } ]
                bundleItems:
                  type: string
                  example: [ { "menuItemId" : "1", "modificationMenuItemId": "1" },{ "menuItemId" : "2", "modificationMenuItemId": "4"},{ "menuItemId" : "3"} ]
                description:
                  type: string
                  example: 'Очень вкусные суши для вас!'
                h1:
                  type: string
                  example: 'h1'
                metaTitle:
                  type: string
                  example: 'metaTitle'
                metaDescription:
                  type: string
                  example: 'metaDescription'
                price:
                  type: int
                  example: 500
                oldPrice:
                  type: int
                  example: 400
                bonusAdd:
                  type: int
                  example: 100
                stickerType:
                  type: int
                  example: "spicy"
                stickerMarketing:
                  type: int
                  example: "hit"
                image:
                  type: string
                  example: /example/image.jpg
                composition:
                  type: string
                  example: 'Рис, лосось, кунжут'
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
                hasStop:
                  type: bool
                  example: true
                needPersonCount:
                  type: bool
                  example: true
                type:
                  type: string
                  example: single
                hide:
                  type: bool
                  example: false
                souseId:
                  type: int
                  example: 2
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/menuItems/{id}':
    get:
      tags:
        - 'Эллементы меню'
      summary: 'Получить эллмент меню'
      description: 'Возвращает эллмент меню по id'
      operationId: CategoryOne
      parameters:
        - name: id
          in: path
          description: 'id эллмента меню'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/menu_item/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Эллементы меню'
      summary: 'Обновить эллмент меню'
      description: |
        Обновляет эллемент меню и возвращает результат
        <br><br><br>Параметр *stickerType* принимает следующие значения:
        <br><br>***child***
        <br><br>***spicy***
        <br><br>***vegetarian***
        <br><br><br>Параметр *stickerMarketing* принимает следующие значения:
        <br><br>***new***
        <br><br>***hit***
        <br><br>***percent***
        <br><br>***personalDiscount***
        <br><br><br>Параметр *type* принимает следующие значения:
        <br><br>***single***
        <br><br>***bundle***
      operationId: CategoryUpdate
      parameters:
        - name: id
          in: path
          description: 'id эллмента меню'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: false
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Суши
                slug:
                  type: string
                  example: susi
                technicalCardId:
                  type: int
                  example: 4
                categories:
                  type: string
                  example: [ { "id": "5" },{ "id": "2" } ]
                modifications:
                  type: string
                  example: [ { "modificationId": "1" },{ "modificationId": "2","priceAdd": "168","priceRate": "0.5" } ]
                bundleItems:
                  type: string
                  example: [ { "menuItemId" : "1", "modificationMenuItemId": "1" },{ "menuItemId" : "2", "modificationMenuItemId": "4"},{ "menuItemId" : "3"} ]
                description:
                  type: string
                  example: 'Очень вкусные суши для вас!'
                h1:
                  type: string
                  example: 'h1'
                metaTitle:
                  type: string
                  example: 'metaTitle'
                metaDescription:
                  type: string
                  example: 'metaDescription'
                price:
                  type: int
                  example: 500
                oldPrice:
                  type: int
                  example: 400
                bonusAdd:
                  type: int
                  example: 100
                stickerType:
                  type: int
                  example: "spicy"
                stickerMarketing:
                  type: int
                  example: "hit"
                image:
                  type: string
                  example: /example/image.jpg
                composition:
                  type: string
                  example: 'Рис, лосось, кунжут'
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
                needPersonCount:
                  type: bool
                  example: true
                hasStop:
                  type: bool
                  example: true
                type:
                  type: string
                  example: single
                hide:
                  type: bool
                  example: false
                souseId:
                  type: int
                  example: 2
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/edit.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    delete:
      tags:
        - 'Эллементы меню'
      summary: 'Удалить эллемент меню'
      description: 'Удаляет эллемент меню и вовзращает результат'
      operationId: CategoryDelete
      parameters:
        - name: id
          in: path
          description: 'id эллмента меню'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/delete.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json


  /modifications:
    get:
      tags:
        - 'Модификации эллементов меню'
      summary: 'Получить модификации эллементов меню'
      description: 'Возвращает модификации эллемнтов меню, принимает параметры сортировки'
      operationId: CategoriesIndex
      parameters:
        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/modification/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Модификации эллементов меню'
      summary: 'Создать модификацию эллементов меню'
      description: |
        'Создаёт модификацию эллементов меню и возвращает id'
        <br><br><br>Параметр *action* принимает следующие значения:
        <br><br>***subtract***
        <br><br>***add***  //*при экшене добавить должна быть указа техническая карта*
        <br><br>***replace***  //*при экшене реплейс должна быть указа техническая карта*
        <br><br>***construct***
        <br><br><br>Параметр *type* принимает следующие значения:
        <br><br>***single***
        <br><br>***select***
      operationId: ModificationCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Сырный бортик
                description:
                  type: string
                  example: 'Очень сырно!'
                action:
                  type: string
                  example: 'add'
                type:
                  type: string
                  example: 'single'
                priceAdd:
                  type: string
                  example: '100'
                priceRate:
                  type: string
                  example: '1.5'
                nameOn:
                  type: string
                  example: ' c сырным бортиком'
                nameOff:
                  type: string
                  example: ' ржаная корка'
                technicalCardId:
                  type: int
                  example: 1
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/modifications/{id}':
    get:
      tags:
        - 'Модификации эллементов меню'
      summary: 'Получить модификацию эллементов меню'
      description: 'Get modification data'
      operationId: ModificationOne
      parameters:
        - name: id
          in: path
          description: 'id модификации'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/modification/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Модификации эллементов меню'
      summary: 'Обновить модификацию'
      description: |
        Обновляет модификацию и возвращает результат
        <br><br><br>Параметр *action* принимает следующие значения:
        <br><br>***subtract***
        <br><br>***add***  //*при экшене добавить должна быть указа техническая карта*
        <br><br>***replace***  //*при экшене реплейс должна быть указа техническая карта*
        <br><br>***construct***
        <br><br><br>Параметр *type* принимает следующие значения:
        <br><br>***single***
        <br><br>***select***
      operationId: ModificationUpdate
      parameters:
        - name: id
          in: path
          description: 'id модификации'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Сырный бортик
                description:
                  type: string
                  example: 'Очень сырно!'
                action:
                  type: string
                  example: 'add'
                type:
                  type: string
                  example: 'single'
                priceAdd:
                  type: string
                  example: '100'
                priceRate:
                  type: string
                  example: '1.5'
                nameOn:
                  type: string
                  example: ' c сырным бортиком'
                nameOff:
                  type: string
                  example: ' ржаная корка'
                technicalCardId:
                  type: int
                  example: 1
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/edit.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    delete:
      tags:
        - 'Модификации эллементов меню'
      summary: 'Удалить модификацию'
      description: 'Удаляет модификацию и возвращает результат'
      operationId: ModificationDelete
      parameters:
        - name: id
          in: path
          description: 'id модификации'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/delete.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json

  /technicalCards:
    get:
      tags:
        - 'Технические карты'
      summary: 'Получить технические карты'
      description: 'Возвращет все технические карты, принимает параметры сортировки'
      operationId: TechnicalCardsIndex
      parameters:
        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/tech_cards/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Технические карты'
      summary: 'Создать техническую карту'
      description: 'Создаёт техническую карту и возвращает id'
      operationId: CategoryCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Суши
                weight:
                  type: int
                  example: '500'
                proteins:
                  type: int
                  example: '300'
                fats:
                  type: int
                  example: '50'
                carbohydrates:
                  type: int
                  example: '200'
                calories:
                  type: int
                  example: '180'
                composition:
                  type: int
                  example: 'Рыба, рис, огурец'
                compositionForCook:
                  type: int
                  example: 'Рис и рыба и готовить'
                chefComment:
                  type: int
                  example: 'Смешай то то с тем то'
                cookingType:
                  type: int
                  example: 'baked'
                dishType:
                  type: int
                  example: 'roll'
                manufacturerType:
                  type: int
                  example: 'hot'
                termTime:
                  type: int
                  example: 10
                timeToCool:
                  type: int
                  example: 180
                cookingTime:
                  type: int
                  example: 20
                hasTerm:
                  type: bool
                  example: true
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  '/technicalCards/{id}':
    get:
      tags:
        - 'Технические карты'
      summary: 'Получить  техническую карту'
      description: 'Возвращает данные о тех.карте'
      operationId: CategoryOne
      parameters:
        - name: id
          in: path
          description: 'id Тех карты'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/tech_cards/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Технические карты'
      summary: 'Обновить тех. карту'
      description: 'Обновляет тех карту и возвращает результат'
      operationId: TechCardUpdate
      parameters:
        - name: id
          in: path
          description: 'id Тех карты'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Суши
                weight:
                  type: int
                  example: '500'
                proteins:
                  type: int
                  example: '300'
                fats:
                  type: int
                  example: '50'
                carbohydrates:
                  type: int
                  example: '200'
                calories:
                  type: int
                  example: '180'
                composition:
                  type: string
                  example: 'Рыба, рис, огурец'
                compositionForCook:
                  type: string
                  example: 'Рис и рыба и готовить'
                chefComment:
                  type: string
                  example: 'Смешай то то с тем то'
                cookingType:
                  type: int
                  example: 'baked'
                dishType:
                  type: int
                  example: 'roll'
                manufacturerType:
                  type: int
                  example: 'hot'
                termTime:
                  type: int
                  example: 10
                timeToCool:
                  type: int
                  example: 180
                cookingTime:
                  type: int
                  example: 20
                hasTerm:
                  type: bool
                  example: true
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/edit.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    delete:
      tags:
        - 'Технические карты'
      summary: 'Удалить тех карту'
      description: 'Удаляет тех карту и возвращает результат'
      operationId: CategoryDelete
      parameters:
        - name: id
          in: path
          description: 'id Тех карты'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/delete.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json

  /filials:
    get:
      tags:
        - 'Филиалы'
      summary: 'Получить список всех филиалов'
      description: 'Получить список всех филиалов с параметрами пагинации'
      operationId: FilialsIndex
      parameters:

        - name: limit
          in: query
          description: 'задать лимит записей'
          required: false
          schema:
            type: int
        - name: offset
          in: query
          description: 'задать точку отсчёта записей'
          required: false
          schema:
            type: int
        - name: page
          in: query
          description: 'задать страницу'
          required: false
          schema:
            type: int
      responses:
        200:
          description: 'Успешный ответ со списком филиалов'
          content:
            application/json:
              examples:
                - $ref: ../api-example/filials/list.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    post:
      tags:
        - 'Филиалы'
      summary: 'Создать новый филиал'
      description: 'Создаёт филиал и возвращает индификатор(id)'
      operationId: FilialCreate
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Филиал на Маршакова
                city:
                  type: string
                  example: Санкт-петербург
                address:
                  type: string
                  example: ул.Маршакова д.21
                requisites:
                  type: string
                  example: null
                let:
                  type: string
                  example: 55.12312312
                lat:
                  type: string
                  example: 51.2424123
                workPhone:
                  type: string
                  example: 79999999999
                minOrderCost:
                  type: string
                  example: 0
                sortOrder:
                  type: int
                  example: '1'
                status:
                  type: bool
                  example: true
                settings:
                  type: bool
                  example: [ { "settingId": 1,"value": "testValue" },{ "settingId": 2,"value": { "test_1": "ok","test_2": "false" } } ]
              type: object
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/curd/create.json
        422:
          description: 'Неправильные данные'
          content:
            application/json:
              examples:
                - $ref: ../api-example/invalid_request.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
  /filials/{id}:
    get:
      tags:
        - 'Филиалы'
      summary: 'Получить информацию о филиале'
      description: 'Возвращает информацию о филиале по индефикатору'
      operationId: FilialOne
      parameters:
        - name: id
          in: path
          description: 'Внутрений индификатор филиала'
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'Успешный ответ'
          content:
            application/json:
              examples:
                - $ref: ../api-example/filials/one.json
        401:
          description: Неавторизованный
          content:
            application/json:
              examples:
                - $ref: ../api-example/auth_fail.json
        403:
          description: 'Не разрешено! В доступе отказано'
          content:
            application/json:
              examples:
                - $ref: ../api-example/access_denied.json
    put:
      tags:
        - 'Филиалы'
      summary: 'Обновить филиал'
      description: 'Обновляет филиал и возвращает результат'
      operationId: FilialUpdate
      parameters:
        - name: id
          in: path
          description: 'Внутрений индификатор филиала'
          required: true
          schema:
            type: string
      requestBody:
        description: 'Пример запроса'
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  example: Филиал на Маршакова
                city:
[...]
